<script>
	
			function sendPush() {
		getKeys(false)
	}
	var vapidPublicKey = new Uint8Array(<%=Base64.urlsafe_decode64($vapid_public).bytes%>);
	// var vapidPublicKey = ("#{$vapid_public}");

   function checkNotifs(obj){
      if (!("Notification" in window)) {                                             //1
           console.error("This browser does not support desktop notification");
         }
         // Let's check whether notification permissions have already been granted
         else if (Notification.permission === "granted") {                           //2
           console.log("Permission to receive notifications has been granted");
           getKeys();
         }
         // Otherwise, we need to ask the user for permission
         else if (Notification.permission !== 'denied') {                            //3
           Notification.requestPermission(function (permission) {                    
                 // If the user accepts, let's create a notification
             if (permission === "granted") {                                         //4
               console.log("Permission to receive notifications has been granted");
               getKeys();                                                       
             } 
           });
        }
   }

     function getKeys(){
       navigator.serviceWorker.register('/serviceworker.js', {scope: './'})          //5
         .then(function(registration) {
           return registration.pushManager.getSubscription()
             .then(function(subscription) {
               if (subscription) {
                 return subscription;
               }
               return registration.pushManager.subscribe({                           //6
                 userVisibleOnly: true,
                 applicationServerKey: vapidPublicKey
               });
             });
         }).then(function(subscription) {
          sendNo(subscription.toJSON())                                           //7
         });
     }

   function sendNo(subscription){
//    	var url_string = window.location.href;
// var url = new URL(url_string);
var c = document.getElementById("test").value
console.log(c.length);
 if (c.length != 0 ) {
    console.log(c);
	$.post('/sendNo', {
    	subscription: subscription,
        message: c
     });
  } else {
    console.log('notgood');
  }

  }

</script>
<%= render "layouts/navbar" %>
			<button type="button" class="btn btn-default" onclick="sendPush()">
				Send WebPush
			</button>
  Message à envoyer: <input type="text" name="fname" id="test"><br>

<div class="section">
	<div class="container">
		<ul class="collection">
			<li class="collection-item avatar">
				<i class="material-icons circle indigo lighten-1">insert_chart</i>
				<span class="title">PM25</span>
				<p><%= @device['pm25'] %> <br>
					ug/m3
				</p>
				<div class="secondary-content"><i class="material-icons">mood</i></div>
			</li>
		</ul>
		<ul class="collection">
			<li class="collection-item avatar">
				<i class="material-icons circle teal">insert_chart</i>
				<span class="title">PM10</span>
				<p> <%= @device['pm10'] %> <br>
					ug/m3
				</p>
				<a href="#!" class="secondary-content"><i class="material-icons">mood_bad</i></a>
			</li>
		</ul>
	</div>
</div>

<%= text_field_tag 'name'%>
<div class="divider"></div>
<div class="section">
	<div class="container">
		<ul class="collapsible popout">
			<li>
				<div class="collapsible-header"><i class="material-icons">info</i>Info supplémentaire</div>
				<div class="collapsible-body"><span>
					<table class="striped centered">
						<thead>
							<tr>
								<th>Pm25</th>
								<th>value</th>
								<th>value review</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Alvin</td>
								<td>Eclair</td>
								<td>$0.87</td>
							</tr>
							<tr>
								<td>Alan</td>
								<td>Jellybean</td>
								<td>$3.76</td>
							</tr>
							<tr>
								<td>Jonathan</td>
								<td>Lollipop</td>
								<td>$7.00</td>
							</tr>
						</tbody>
					</table>
				</span></div>
			</li>
			<li>
				<div class="collapsible-header"><i class="material-icons">place</i>Ma Position</div>
				<div class="collapsible-body"><span>  <% h = {1 => 2, 2 => 3, 3=> 4} %>
				<%= line_chart h.count %></span></div>
			</li>
			<li>
				<div class="collapsible-header"><i class="material-icons">whatshot</i>Info Capteur</div>
				<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
			</li>
		</ul>
	</div>
</div>

<div class="section">
		<div class="card-panel">
			<h5 class="center-align">Feeling</h5>
			<div class="row center-align">
				<div class="col s4">
					<a class="btn-floating btn-large waves-effect waves-light indigo lighten-1"><i class="material-icons">thumb_down</i></a>
				</div>
				<div class="col s4">
					<a class="btn-floating btn-large waves-effect waves-light indigo lighten-1"><i class="material-icons">thumbs_up_down</i></a>
				</div>
				<div class="col s4">
					<a class="btn-floating btn-large waves-effect waves-light indigo lighten-1"><i class="material-icons">thumb_up</i></a>
				</div>
			</div>
</div>



<br>
<br>
<br>
<br>

