<%= render "layouts/navbar" %>
<div class="section">
	<div class="container">
		<ul class="collection">
			<li class="collection-item avatar">
				<i class="material-icons circle indigo lighten-1">insert_chart</i>
				<span class="title">PM25</span>
				<p><%= @device['pm25'] %> <br>
					ug/m3
				</p>
				<div class="secondary-content"><i class="material-icons">mood</i></div>
			</li>
		</ul>
		<ul class="collection">
			<li class="collection-item avatar">
				<i class="material-icons circle teal">insert_chart</i>
				<span class="title">PM10</span>
				<p> <%= @device['pm10'] %> <br>
					ug/m3
				</p>
				<a href="#!" class="secondary-content"><i class="material-icons">mood_bad</i></a>
			</li>
		</ul>
	</div>
</div>
<div class="divider"></div>
<div class="section">
	<div class="container">
		<ul class="collapsible popout">
			<li>
				<div class="collapsible-header"><i class="material-icons">info</i>Info supplémentaire</div>
				<div class="collapsible-body"><span>
					<table class="striped centered">
						<thead>
							<tr>
								<th>Pm25</th>
								<th>value</th>
								<th>value review</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Alvin</td>
								<td>Eclair</td>
								<td>$0.87</td>
							</tr>
							<tr>
								<td>Alan</td>
								<td>Jellybean</td>
								<td>$3.76</td>
							</tr>
							<tr>
								<td>Jonathan</td>
								<td>Lollipop</td>
								<td>$7.00</td>
							</tr>
						</tbody>
					</table>
				</span></div>
			</li>
			<li>
				<div class="collapsible-header"><i class="material-icons">place</i>Ma Position</div>
				<div class="collapsible-body"><span>  <% h = {1 => 2, 2 => 3, 3=> 4} %>
				<%= line_chart h.count %></span></div>
			</li>
			<li>
				<div class="collapsible-header"><i class="material-icons">whatshot</i>Info Capteur</div>
				<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
			</li>
		</ul>
	</div>
</div>

<div class="section">
		<div class="card-panel">
			<h5 class="center-align">Feeling</h5>
			<div class="row center-align">
				<div class="col s4">
					<a class="btn-floating btn-large waves-effect waves-light indigo lighten-1"><i class="material-icons">thumb_down</i></a>
				</div>
				<div class="col s4">
					<a class="btn-floating btn-large waves-effect waves-light indigo lighten-1"><i class="material-icons">thumbs_up_down</i></a>
				</div>
				<div class="col s4">
					<a class="btn-floating btn-large waves-effect waves-light indigo lighten-1"><i class="material-icons">thumb_up</i></a>
				</div>
			</div>
</div>



<br>
<br>
<br>
<br>

<p><input value="rec" type="button" onclick="changeText();" /></p>
<div class="container">
	<% data = {"PM25" => 10, "PM10" => 5} %>
	<%= column_chart data, min: 0, max: 100, colors: ["#b00", "#666"], dataset: { borderWidth: 0 }%>
</div>
<div class="fixed-action-btn">
	<a href="/" class="btn-floating btn-medium red">
		<i class="medium material-icons">refresh</i>
</a>

</div>

		<%= link_to root_path, :class => 'btn-floating btn-medium red' do %>
  <i class="medium material-icons">refresh</i> 
<% end %>
